*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(225, 237, 233);
}


.flexbox{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  height: 100vh;
  overflow: hidden;
  margin: auto 0;
  padding: 15px;

}

.flexbox .board{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #5d977494;
  padding: 15px;
  height: fit-content;
}

.flexbox .board .card{
  padding: 15px 25px;
  background-color: aliceblue;
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #121e1794;
}

.flexbox .board .non-draggable-card{
  padding: 15px 25px;
  background-color: aliceblue;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: #c3dfca;
}

.flexbox .title{
  color: aliceblue;
  font-size: xx-large;
  font-weight: 700;
  padding: inherit;
  display: flex;
  justify-content: center;
}
